email-validator
flask
flask-bcrypt
flask-login
flask-sqlalchemy
flask-wtf
python-dotenv
reportlab
requests
sqlalchemy
werkzeug
wtforms
pytest
flask-testing
coverage
pytest-cov
Pillow==10.2.0
flask-migrate
click